.rules-section-container {
    width: 100%; 
    display: flex; 
    flex-direction: column;
    --search-text-color: black;
    --search-text-font: var(--main-font-family);
}

.rules-search-section {
    margin-top: 10px; 
    display: flex; 
    justify-content: space-evenly;
}

.rules-search-input{
    width: 100px;
}

.rules-search-icons {
    color: var(--search-text-color) !important;
}

.rules-search-icons svg {
    fill: var(--search-text-color);
}

.rules-search-checkbox {
    font-family: var(--main-font-family) !important;
    color:  var(--search-text-color);
    margin-top: 12px;
}


/* Simple common styles */
.rule-container{
    margin: auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 90%;
    background: darkred;
}

.rule-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rule-title-text {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.rule-title-text h2{
    text-transform: lowercase;
    flex: 1;
    font-family: var(--main-font-family);
    font-size: medium;
    margin: auto;
    padding-left: 2px;
}

.rule-title-text h3{
    flex: 2;
    font-family: var(--secondary-font-family);
    font-size: medium;
    margin: auto;
    padding-left: 2px;
}

.rule-flag {
    vertical-align: sub !important; 
    max-width: 50%;
}

.rule-description {
    padding-top: 10px;
    font-family: var(--content-font-family);
    max-width: 100%;
}



/* Overwriting some angular material styles */
.mat-input-element  {
    text-transform: lowercase;
    font-family: var(--search-text-font) !important;
    color: var(--search-text-color) !important;
    caret-color: var(--search-text-color) !important;
}

.mat-form-field-underline {
    height: 2px !important;
    background-color: var(--search-text-color) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: var(--search-text-color) !important;
}

.mat-form-field-label  {
    font-family: var(--search-text-font) !important;
    color: var(--search-text-color) !important;
}

.mat-checkbox-frame {
    border: 2px solid var(--search-text-color) !important;
}
