<div class="rules-container">
    <div class="rules-header">
        <img src="assets/_img/_backgrounds/blood_stain.png">
        <b>Rules compendiuM</b>
    </div>
    <mat-tab-group mat-align-tabs="center" class="rules-tab-pannel">
        <mat-tab>
            <ng-template mat-tab-label>
                <img class="rule-icon" src="assets/_img/_icons/team.png">
                teams
            </ng-template>
            <div class="rules-tab-content main-content-box">
                <app-team-list style="width: 100%;" [teams]="teams"></app-team-list>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img class="rule-icon" src="assets/_img/_icons/challenge.png">
                challenges
            </ng-template>
            <div class="rules-tab-content main-content-box">
                <app-challenge-list style="width: 100%;" [challenges]="challenges"></app-challenge-list>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img class="rule-icon" src="assets/_img/_icons/ball.png">
                balls
            </ng-template>
            <div class="rules-tab-content main-content-box">
                <app-ball-list style="width: 100%;" [balls]="ballCards"></app-ball-list>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img class="rule-icon" src="assets/_img/_icons/rules.png">
                other rules
            </ng-template>
            <app-other-rules-list></app-other-rules-list>
        </mat-tab>
    </mat-tab-group>
</div>