.rules-container{
    display:flex; 
    flex-direction: column; 
    flex: 1 1 auto;
}

.tab-background{
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    width: 300px;
    left: 30%;
    top: 200px;
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.rules-header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0;
    overflow: hidden;
    color: white;
    font-family: var(--main-font-family);
    -webkit-text-stroke: 1px var(--blitzer-blue);
    font-size: xx-large;
    text-shadow: 1px 1px 2px darkred, 0 0 25px rgb(  243, 156, 18  ), 0 0 5px black;
    background-color: transparent;
    margin: 0;
    z-index: 100;
}

.rules-header img{
    opacity: 0.3;
    max-height: 80px;
    width: 300px;
    margin: 0 auto;
    position: absolute;
}

.rules-header b{
    z-index: 10;
}

.rules-tab-pannel{
    background-color: rgba(224, 224, 224, 0.5);
    
    background: transparent;
    flex: 1;
}

.rules-tab-content {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap 
}

.rule-icon{
    max-height: 25px;
    margin-right: 10px;
}

.mat-tab-header  {
    background: var(--secondary-color);
    color: white;
}

.mat-tab-label {
    font-family: var(--main-font-family);
    color: white;
}

.mat-tab-label.mat-tab-label-active {
    background-color: rgb(255, 255, 255, 0.2);
    color: white;
    text-shadow: 2px 2px 4px black, 0 0 10px #ffffff;
    opacity: 1;
}

.mat-ink-bar {
    background-color: transparent !important;
}