<mat-card style="background-color: {{team.color}}" class="team-box">
    <img [src]="team.icon" [alt]="team.name" class="team-background">
    <mat-card-content>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="team-card">
                <div class="team-icon">
                    <img [src]="team.icon" [alt]="team.name">
                </div>
                
                <div class="team-sumary">
                    <div class="team-naming">
                        <h1 class="team-title">{{team.name}}</h1>
                        <hr class="dashed">
                        <div class="team-subtitle">{{team.race.join(" / ")}}</div>
                    </div>
                    <mat-icon *ngFor="let flag of team.flags" class="white-flag" svgIcon="{{flag.icon}}" matTooltip="{{flag.name}}:&#13;{{flag.description}}"></mat-icon>
                </div>
            </mat-expansion-panel-header>
            <table class="player-table">
                <tr>
                    <th colspan="6">roster</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Position</th>
                    <th>Move</th>
                    <th>Throw</th>
                    <th>Armor</th>
                    <th>Skills</th>
                </tr>
                <tr *ngFor="let position of team.roster">
                    <td>{{position.amount}}</td>
                    <td>{{position.player.name}}</td>
                    <td>{{position.player.move}}</td>
                    <td>{{position.player.throw}}</td>
                    <td>{{position.player.armor}}</td>
                    <td><mat-icon *ngFor="let ability of position.player.abilities" class="black-flag player-skills" svgIcon="{{ability.icon}}" matTooltip="{{ability.name}}:&#13;{{ability.description}}"></mat-icon></td>
                </tr>
            </table>
            <div class="team-buttons">
                <button mat-button>
                    <p>DETAILS</p>
                </button>
            </div>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>