.mat-expansion-panel{
    background-color: transparent;
}

.team-box {
    max-width: 400px;
    margin: 15px; 
    overflow: hidden;
}

.team-card {
    background-color: transparent;
    min-height: 120px;
}

.team-icon {
    width: 30%;
    display: flex;
    align-self: center;
    -webkit-filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
}

.team-icon img{
    max-width: 100%;
}

.team-background {
    opacity: 0.1;
    width: 100%;
    top: 0;
    position: absolute
}

.team-sumary {
    max-width: 65%;
    margin-top: 2%;
    margin-left: 5%;
}

.team-subtitle {
    font-family: var(--secondary-font-family)
}

.team-title{
    font-family: var(--main-font-family);
    -webkit-text-stroke: 1px black;
    font-size: x-large;
    margin: 0;
}

hr.dashed {
    border-top: 3px;
    margin: 0;
}

.team-flag {
    max-width: 50%;
}

.team-buttons {
    display: flex;
    justify-content: center;
    max-height: 25px;
}

.team-buttons p{
    display: flex;
    justify-content: center;
    text-transform: lowercase;
    font-family: var(--main-font-family) !important;
}

.player-table{
    margin: auto;
    margin-top: 15px;
}

.player-table td, th{
    text-transform: lowercase;
    font-family: var(--content-font-family);
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
}

.player-table td{
    text-align: center;
}

.player-skills {
    width: 18px !important;
    margin-right: 5px;
}

