<div class="rules-section-container">
    <div class="rules-search-section">
        <mat-form-field class="rules-search-input">
            <mat-label><mat-icon class="rules-search-icons">search</mat-icon>  name</mat-label>
            <input matInput type="text" [(ngModel)]="filterName" (keyup)="filterBall()">
            <button mat-button *ngIf="filterName" matSuffix mat-icon-button aria-label="Clear" (click)="clearName()">
                <mat-icon class="rules-search-icons">close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="rules-search-input">
            <mat-label><mat-icon class="rules-search-icons">search</mat-icon>  team</mat-label>
            <input matInput type="text" [(ngModel)]="filterRace" (keyup)="filterBall()">
            <button mat-button *ngIf="filterRace" matSuffix mat-icon-button aria-label="Clear" (click)="clearTeam()">
                <mat-icon class="rules-search-icons">close</mat-icon>
            </button>
        </mat-form-field>

        <mat-checkbox class="rules-search-checkbox" [(ngModel)]="onlyOficial" (change)="filterBall()">only oficial</mat-checkbox>
    </div>
    
    <span *ngFor="let ball of filteredBalls">
        <app-ball [ball]="ball"></app-ball>
    </span>
</div>