<mat-card class="player-card">
    <mat-card-header>
        <div mat-card-avatar>ICON</div>
        <mat-card-title>Player Name</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <h2>My awesome ability</h2>
        <h3>my ability Description</h3>
    </mat-card-content>
</mat-card>