.teams-section-container {
    width: 100%; 
    display: flex; 
    flex-direction: column;
    --search-text-color: white;
    --search-text-font: var(--main-font-family);
}

.teams-search-section {
    margin-top: 10px; 
    display: flex; 
    justify-content: space-evenly;
}

.teams-search-input{
    width: 100px;
}

.teams-search-icons {
    color: var(--search-text-color) !important;
}

.teams-search-icons svg {
    fill: var(--search-text-color);
}

.teams-search-checkbox {
    font-family: var(--main-font-family) !important;
    color:  var(--search-text-color);
    margin-top: 12px;
}

.teams-list-container {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap 
}

.mat-input-element  {
    text-transform: lowercase;
    font-family: var(--search-text-font) !important;
    color: var(--search-text-color) !important;
    caret-color: var(--search-text-color) !important;
}

.mat-form-field-underline {
    height: 2px !important;
    background-color: var(--search-text-color) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: var(--search-text-color) !important;
}

.mat-form-field-label  {
    font-family: var(--search-text-font) !important;
    color: var(--search-text-color) !important;
}
