<div class="main-container">
    <mat-toolbar class="titlebar-container textured-main-color">
        <mat-toolbar-row class="titlebar main-content-box">
            <span>Blitz bowlerZ</span>
            <span class="titlebar-spacer"></span>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="canvas">
        <div class="content-box">
            <app-rules-dashboard class="content"></app-rules-dashboard>
        </div>
        <router-outlet></router-outlet>
    </div>
    
    
    <div class="footer-info">
        <p>All rights</p>
    </div>
</div>