<div class="main-container">
    <mat-toolbar color="primary" class="titlebar">
        <mat-toolbar-row>
            <span>Blitz bowlerZ</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="menubar">
    </div>
    
    <app-rules-dashboard class="canvas"></app-rules-dashboard>
    <div class="footer-info">
        <p>All rights</p>
    </div>
</div>



<router-outlet></router-outlet>
