<div class="rules-section-container">
    <div class="rules-search-section">
        <mat-form-field class="rules-search-input">
            <mat-label><mat-icon class="rules-search-icons">search</mat-icon>  name</mat-label>
            <input matInput type="text" [(ngModel)]="filterName" (keyup)="filterRules()">
            <button mat-button *ngIf="filterName" matSuffix mat-icon-button aria-label="Clear" (click)="clearName()">
                <mat-icon class="rules-search-icons">close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="rules-search-input">
            <mat-label><mat-icon class="rules-search-icons">search</mat-icon>  tag</mat-label>
            <input matInput type="text" [(ngModel)]="filterTag" (keyup)="filterRules()">
            <button mat-button *ngIf="filterTag" matSuffix mat-icon-button aria-label="Clear" (click)="clearTag()">
                <mat-icon class="rules-search-icons">close</mat-icon>
            </button>
        </mat-form-field>

        <mat-checkbox class="rules-search-checkbox" [(ngModel)]="onlyLeagueRules" (change)="filterRules()">only league rules</mat-checkbox>
        <mat-checkbox class="rules-search-checkbox" [(ngModel)]="onlyOficial" (change)="filterRules()">only oficial</mat-checkbox>
    </div>

    <span>
        <mat-expansion-panel class="rule-container" hideToggle>
            <mat-expansion-panel-header>
                <div class="rule-title">
                    <div class="rule-title-text">
                        <h2>coach traits</h2>
                        <h3>List of posible team boons on a league</h3>
                    </div>
                    <button mat-icon-button disabled>
                    </button>
                </div>
            </mat-expansion-panel-header>
            <div class="rule-description">
                After a playing a league game (not a finals, semi-finals or quarter-finals match), both coaches will gain one Coach Trait.
            </div>
        </mat-expansion-panel>
    </span>
</div>