<mat-expansion-panel class="rule-container" hideToggle>
    <mat-expansion-panel-header>
        <div class="rule-title">
            <div class="rule-title-text">
                <h2>{{ball?.name}}</h2>
                <h3> Race: {{ball?.race}}</h3>
            </div>
            <button mat-icon-button disabled matTooltip="{{hombreFlag.name}}:&#13;{{hombreFlag.description}}">
                <img [src]="hombreFlag.icon" [alt]="hombreFlag.name" class="rule-flag" *ngIf="ball?.isHomebrew" >
            </button>
        </div>
    </mat-expansion-panel-header>
    <div class="rule-description">
        {{ball?.effect}}
    </div>
</mat-expansion-panel>