.left {
    max-width: 40%;
    justify-content: start;
}

.right {
    max-width: 40%;
    justify-content: end;
    text-align: right;
}

.ball-container{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    background: darkred;
}

.ball-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ball-title-side {
    flex: 1;
    display: flex;
}

.ball-title-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ball-title-text h2{
    font-family: var(--main-font-family);
    font-size: medium;
    margin: 0;
    padding-left: 2px;
}

.ball-title-text h3{
    font-family: var(--secondary-font-family);
    font-size: medium;
    margin: 0;
    padding-left: 2px;
}

.ball-flag {
    vertical-align: sub !important; 
    max-width: 50%;
}

.ball-description {
    border-top: 2px solid white;
    padding-top: 10px;
    font-family: var(--secondary-font-family);
    max-width: 100%;
    align-self: center;
    text-align: center;
}