.mat-input-element  {
    text-transform: lowercase;
    font-family: var(--search-text-font) !important;
    color: var(--search-text-color) !important;
    caret-color: var(--search-text-color) !important;
}

.mat-form-field-underline {
    height: 2px !important;
    background-color: var(--search-text-color) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: var(--search-text-color) !important;
}

.mat-form-field-label  {
    font-family: var(--search-text-font) !important;
    color: var(--search-text-color) !important;
}

