.challenge-container{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    background: linear-gradient(90deg, darkred 48%, rgba(255,255,255,1) 50%, var(--blitzer-blue) 52%); 
    margin-bottom: 10px;
}

.challenge-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.challenge-title-side {
    flex: 1;
    display: flex;
}

.left {
    max-width: 40%;
    justify-content: start;
}

.right {
    max-width: 40%;
    justify-content: end;
    text-align: right;
}

.challenge-title-points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    margin-right: 5px;
    background-size: 29px !important; 
    min-width: 30px; 
    width: 30px; 
    background: url('../../assets/_img/_backgrounds/points_background_white.png') no-repeat center center;
}


.challenge-title-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.challenge-title-text h2{
    font-family: var(--main-font-family);
    font-size: medium;
    margin: 0;
    padding-left: 2px;
}

.challenge-content {
    display: flex;
    justify-content: space-between;
    font-family: var(--secondary-font-family);
    margin-bottom: 5px;
}