/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: CaesarDressing;
    src: url("/assets/_fonts/CaesarDressing-Regular.ttf") format("truetype");
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url("/assets/_fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Gutcruncher;
    src: url("/assets/_fonts/Gutcruncher.otf") format("opentype");
}


html, body {
    height: 100%; 
    --blitzer-blue: rgb(  20, 51, 114  );
    --primary-color: black;
    --secondary-color: rgb(61, 61, 61);
    --main-font-family: Gutcruncher;
    --secondary-font-family: ShadowsIntoLight;
    --content-font-family: arial;
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}



.info-box {
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    padding: 5px;
    font-family: var(--secondary-font-family); 
    text-align: center; 
    margin-left: 10%;
    width: 80%; 
    background: url(./assets/_img/_textures/leather.png), rgb(227, 228, 207);
    box-shadow: 1px 1px 5px 3px var(--secondary-color);
    opacity: 0.9;
}

.info-box h2{
    text-transform: lowercase;
    font-family: var(--main-font-family);
    font-size: medium;
    margin: 0;
    padding-left: 2px;
}

.info-box p {
    text-align: left;
    margin: 5px;
}

.main-content-box {
    margin: 0 auto;
    max-width: 1000px;
}