.rules-header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0;
    overflow: hidden;
    color: white;
    font-family: Gutcruncher;
    -webkit-text-stroke: 1px var(--blitzer-blue);
    font-size: xx-large;
    text-shadow: 1px 1px 2px darkred, 0 0 25px rgb(  243, 156, 18  ), 0 0 5px black;
    background-color: transparent;
    margin: 0;
    z-index: 100;
}

.rules-header img{
    opacity: 0.1;
    max-height: 80px;
    margin: 0 auto;
    position: absolute;
    
}

.rules-tab-pannel{
    background-color: rgba(224, 224, 224, 0.5);
    flex: 1;
}

.rule-icon{
    max-height: 25px;
    margin-right: 10px;
}

.mat-tab-header  {
    background-color: black;
    color: white;
}

.mat-tab-label {
    font-family: Gutcruncher;
    color: white;
    opacity: 1 !important;
}

.mat-tab-label.mat-tab-label-active {
    background-color: rgb(255, 255, 255, 0.3);
    color: white;
    opacity: 1;
}

.mat-ink-bar {
    background-color: darkred !important;
}