<div style="width: 100vw; display:flex; flex-direction: column; flex: 1 1 auto;">
    <div class="rules-header">
        <img src="assets/_img/_backgrounds/BlitzBowlHeader.jpg">
    </div>
        <mat-tab-group mat-align-tabs="center" class="rules-tab-pannel">
            <mat-tab>
                <ng-template mat-tab-label>
                    <img class="rule-icon" src="assets/_img/_icons/team.png">
                    <b>TEAMS</b>
                </ng-template>
                <app-team></app-team>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img class="rule-icon" src="assets/_img/_icons/ball.png">
                    <b>BALL CARDS</b>
                </ng-template>
                Content 1
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img class="rule-icon" src="assets/_img/_icons/challenge.png">
                    <b>CHALLENGE CARDS</b>
                </ng-template>
                Content 1
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img class="rule-icon" src="assets/_img/_icons/rules.png">
                    <b>SPECIAL RULES</b>
                </ng-template>
                Content 1
            </mat-tab>
        </mat-tab-group>
</div>